apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yaml
    kompose.version: 1.18.0 (06a2e56)
  creationTimestamp: null
  labels:
    io.kompose.service: scheduler
  name: scheduler
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: scheduler
    spec:
      initContainers:
      - args:
        - sh
        - -c
        - /var/playbooks/wait-to-start.sh
        image: alpine
        name: init
        volumeMounts:
        - mountPath: /var/playbooks/
          name: wait
      containers:
      - args:
        - sh
        - -c
        - zuul-scheduler -d
#        env:
#        - name: http_proxy
#        - name: https_proxy
#        - name: no_proxy
#          value: ',gerrit'
        image: zuul/zuul-scheduler
        name: scheduler
        volumeMounts:
        - mountPath: /etc/zuul/
          name: zuul-etc
#        - mountPath: /var/ssh
#          name: sshkey
#        - mountPath: /var/lib/zuul
#          name: scheduler-claim3
      restartPolicy: Always
      volumes:
      - name: zuul-etc
        confidMap:
          name: zuul-config
      - name: wait
        configMap:
          name: wait-script
#      - name: sshkey
#        persistentVolumeClaim:
#          claimName: sshkey
#      - name: scheduler-claim3
#        persistentVolumeClaim:
#          claimName: scheduler-claim3
