apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yaml
    kompose.version: 1.18.0 (06a2e56)
  creationTimestamp: null
  labels:
    io.kompose.service: web
  name: web
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: web
    spec:
      initContainers:
      - args:
        - sh
        - -c
        - /var/playbooks/wait-to-start.sh
        image: alpine
        name: init
        volumeMounts:
        - mountPath: /var/playbooks/
          name: wait
      containers:
      - args:
        - sh
        - -c
        - zuul-web -d
        image: zuul/zuul-web
        name: web
        ports:
        - containerPort: 9000
        volumeMounts:
        - mountPath: /etc/zuul/
          name: zuul-etc
      restartPolicy: Always
      volumes:
      - name: zuul-etc
        configMap:
          name: zuul-config
      - name: wait
        configMap:
          name: wait-script
