apiVersion: v1
kind: ConfigMap
metadata:
  name: zuul-config
data:
  main.yaml: |-
    - tenant:
        name: example-tenant
        source:
          gerrit:
            config-projects:
              - zuul-config
            untrusted-projects:
              - test1
              - test2
          opendev.org:
            untrusted-projects:
              - zuul/zuul-jobs:
                  include:
                    - job
  zuul.conf: |-
    [gearman]
    server=scheduler
    
    [gearman_server]
    start=true
    
    [zookeeper]
    hosts=zookeeper
    
    [scheduler]
    tenant_config=/etc/zuul/main.yaml
    
    [connection "gerrit"]
    name=gerrit
    driver=gerrit
    server=gerrit-ssh
    sshkey=/var/ssh/zuul
    user=zuul
    password=secret
    baseurl=http://gerrit-http:8080
    auth_type=basic
    
    [connection "opendev.org"]
    name=opendev
    driver=git
    baseurl=https://opendev.org
    
    [connection "mysql"]
    name=mysql
    driver=sql
    dburi=mysql+pymysql://zuul:secret@mariadb/zuul
    
    [web]
    listen_address=0.0.0.0
    
    [executor]
    private_key_file=/var/ssh/nodepool
    default_username=root
    trusted_rw_paths=/srv/static/logs
